@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    background: url(colorfu-mesh-gradient.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: "Noto Sans Mono", monospace;
}
#container1 {
    backdrop-filter: blur(20px);
    width: 55em;
    height: 35em;
    border: 1px solid rgba(255, 255, 255, 0.491);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10%;
}
#container2 {
    background-color: rgba(255, 255, 255, 0.622);
    width: 39.8%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.491);
}
#container3 {
    background-color: rgba(255, 255, 255, 0.15);
    width: 60%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: right;
}
img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 35.5%;
    top: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);
}
img:hover {
    filter: brightness(80%);
    transition: 0.4s;
}
#welcome {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-top: 25%;
    color: black;
}
#newlogin {
    font-size: 40px;
    margin-top: 27%;
    margin-left: 9%;
}
text {
    text-decoration: underline;
}
#newaccount {
    margin-top: 20%;
    text-align: center;
}
#newaccount > button {
    width: 15em;
    height: 2.5em;
    border: 0px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.263);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
    letter-spacing: 2px;
}
#newaccount > button:hover {
    background-color: rgba(67, 67, 67, 0.143);
}
button{
    background-color: rgba(255, 255, 255, 0.557);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.119);
}
#support-container {
    margin-top: 20%;
    text-align: center;
}
#gmail {
    background-image: url(gmail.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
#support-container > button:hover {
    background-color: rgba(255, 255, 255, 0.263);
}
#telegram {
    background-image: url(telegram.webp);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}
#whatsapp {
    background-image: url(whatsapp.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}